.elementor-20
  .elementor-element
  .elementor-element-76d0d1f8
  .elementor-repeater-item-5b7754c
  .swiper-slide-bg {
  background-color: var(--e-global-color-primary);
  background-image: url(https://i.ibb.co/Yf54046/PUBLICIDAD-HORIZONTAL-39-90.png);
  background-size: cover;
}
.elementor-20
  .elementor-element
  .elementor-element-76d0d1f8
  .elementor-repeater-item-fb601ee
  .swiper-slide-bg {
  background-color: var(--e-global-color-primary);
  background-image: url(https://i.ibb.co/pXH5GPP/PUBLICIDAD-HORIZONTAL-49-90.png);
  background-size: cover;
}

.elementor-20
  .elementor-element
  .elementor-element-76d0d1f8
  .elementor-repeater-item-5b7754d
  .swiper-slide-bg {
  background-color: var(--e-global-color-primary);
  background-image: url(https://i.ibb.co/1K7tXRz/mi-plan.jpg);
  background-size: cover;
}

.elementor-20
  .elementor-element
  .elementor-element-76d0d1f8
  .elementor-repeater-item-5b7754d
  .swiper-slide-bg {
  background-color: var(--e-global-color-primary);
  background-image: url(https://i.ibb.co/1K7tXRz/mi-plan.jpg);
  background-size: cover;
}

.elementor-20
  .elementor-element
  .elementor-element-76d0d1f8
  .elementor-repeater-item-5b7754e
  .swiper-slide-bg {
  background-color: var(--e-global-color-primary);
  background-image: url(https://i.ibb.co/0nr8KxJ/planes-favoritos.jpg);
  background-size: cover;
}

.elementor-20
  .elementor-element
  .elementor-element-76d0d1f8
  .elementor-repeater-item-5b7754f
  .swiper-slide-bg {
  background-color: var(--e-global-color-primary);
  background-image: url(https://i.ibb.co/fFHxGYt/promocion-ilimitada.jpg);
  background-size: cover;
}

.elementor-20 .elementor-element .elementor-element-76d0d1f8 .swiper-slide {
  height: 650px;
  transition-duration: calc(8000ms * 1.2);
}

.elementor-20
  .elementor-element.elementor-element-76d0d1f8
  .swiper-slide-contents {
  max-width: 100%;
}
.elementor-20
  .elementor-element.elementor-element-76d0d1f8
  .swiper-slide-inner {
  padding: 350px 0px 0px 250px;
  text-align: left;
}
.elementor-20
  .elementor-element.elementor-element-76d0d1f8
  .swiper-slide-inner
  .elementor-slide-heading:not(:last-child) {
  margin-bottom: 22px;
}
.elementor-20
  .elementor-element.elementor-element-76d0d1f8
  .elementor-slide-heading {
  font-family: "Verdana", Arial;
  font-weight: bold;
}
.elementor-20
  .elementor-element.elementor-element-76d0d1f8
  .swiper-slide-inner
  .elementor-slide-description:not(:last-child) {
  margin-bottom: 15px;
}
.elementor-20
  .elementor-element.elementor-element-76d0d1f8
  .elementor-slide-description {
  font-family: "Verdana", Arial;
}
.elementor-20
  .elementor-element.elementor-element-76d0d1f8
  .elementor-slide-button {
  font-family: "Verdana", Arial;
  border-radius: 25px;
  background-color: #9454c9;
  border-color: #02010100;
}
.elementor-20
  .elementor-element.elementor-element-76d0d1f8
  .swiper-pagination-bullet-active {
  background-color: #ffffff;
}
.elementor-20
  .elementor-element.elementor-element-466096a0
  .elementor-repeater-item-94a8697
  .swiper-slide-bg {
  background-color: #02010100;
  background-image: url(https://mibitelonline.com/wp-content/uploads/2022/09/Banner-Plan-Bitel-ilimitado-39-responsive.jpg);
  /* background-image: url(https://i.ibb.co/fFHxGYt/promocion-ilimitada.jpg); */
  background-size: cover;
}
.elementor-20 .elementor-element.elementor-element-466096a0 .swiper-slide {
  height: 380px;
  transition-duration: calc(8000ms * 1.2);
}
.elementor-20
  .elementor-element.elementor-element-466096a0
  .swiper-slide-contents {
  max-width: 38%;
}
.elementor-20
  .elementor-element.elementor-element-466096a0
  .swiper-slide-inner {
  text-align: left;
}
.elementor-20
  .elementor-element.elementor-element-466096a0
  .swiper-slide-inner
  .elementor-slide-heading:not(:last-child) {
  margin-bottom: 14px;
}
.elementor-20
  .elementor-element.elementor-element-466096a0
  .elementor-slide-heading {
  font-family: "Verdana", Arial;
  font-weight: bold;
}
.elementor-20
  .elementor-element.elementor-element-466096a0
  .swiper-slide-inner
  .elementor-slide-description:not(:last-child) {
  margin-bottom: 17px;
}
.elementor-20
  .elementor-element.elementor-element-466096a0
  .elementor-slide-description {
  font-family: "Verdana", Arial;
}
.elementor-20
  .elementor-element.elementor-element-466096a0
  .elementor-slide-button {
  font-family: "Verdana", Arial;
  border-width: 1px;
  border-radius: 25px;
  background-color: #9454c9;
  border-color: #02010100;
}
.elementor-20 .elementor-element.elementor-element-392c93fa {
  text-align: center;
}
.elementor-20
  .elementor-element.elementor-element-392c93fa
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: "Arial", Arial;
}
.elementor-20
  .elementor-element.elementor-element-392c93fa
  > .elementor-widget-container {
  border-radius: 0px 0px 0px 0px;
}
.elementor-20 .elementor-element.elementor-element-589610ee {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-20
  .elementor-element.elementor-element-589610ee
  .elementor-divider-separator {
  width: 20%;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-20 .elementor-element.elementor-element-589610ee .elementor-divider {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-20 .elementor-element.elementor-element-4b8b064c {
  text-align: center;
}
.elementor-20
  .elementor-element.elementor-element-4b8b064c
  .elementor-heading-title {
  color: var(--e-global-color-text);
  font-family: "Arial", Arial;
}
.elementor-20 .elementor-element.elementor-element-c54f08e {
  padding: 0px 190px 0px 190px;
}
.elementor-20
  .elementor-element.elementor-element-e66553c
  > .elementor-container {
  max-width: 779px;
}
.elementor-20 .elementor-element.elementor-element-e66553c {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: var(--e-global-color-416b0f4);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 20px 20px 20px;
}
.elementor-20 .elementor-element.elementor-element-e66553c,
.elementor-20
  .elementor-element.elementor-element-e66553c
  > .elementor-background-overlay {
  border-radius: 5px 5px 5px 5px;
}
.elementor-20
  .elementor-element.elementor-element-e66553c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-20
  .elementor-element.elementor-element-95123c1
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-20
  .elementor-element.elementor-element-95123c1
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-20
  .elementor-element.elementor-element-e42508d
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-20
  .elementor-element.elementor-element-e42508d.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-accent);
}
.elementor-20
  .elementor-element.elementor-element-e42508d.elementor-view-framed
  .elementor-icon,
.elementor-20
  .elementor-element.elementor-element-e42508d.elementor-view-default
  .elementor-icon {
  color: var(--e-global-color-accent);
  border-color: var(--e-global-color-accent);
}
.elementor-20
  .elementor-element.elementor-element-e42508d.elementor-view-framed
  .elementor-icon,
.elementor-20
  .elementor-element.elementor-element-e42508d.elementor-view-default
  .elementor-icon
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-20 .elementor-element.elementor-element-e42508d .elementor-icon {
  font-size: 40px;
}
.elementor-20 .elementor-element.elementor-element-e42508d .elementor-icon i,
.elementor-20 .elementor-element.elementor-element-e42508d .elementor-icon svg {
  transform: rotate(0deg);
}
.elementor-20
  .elementor-element.elementor-element-a18ed1c
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-20
  .elementor-element.elementor-element-a18ed1c
  > .elementor-element-populated {
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 0px 0px 0px 0px;
}
.elementor-20
  .elementor-element.elementor-element-d62494f
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor8);
}
.elementor-20
  .elementor-element.elementor-element-d62494f
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-20 .elementor-element.elementor-element-89fa2d9 {
  font-family: "Arial", Arial;
  font-weight: 400;
}
.elementor-20
  .elementor-element.elementor-element-89fa2d9
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-20 .elementor-element.elementor-element-5317f25 .elementor-button {
  font-family: "Verdana", Arial;
  background-color: #9454c9;
  border-radius: 10px 10px 10px 10px;
}
.elementor-20
  .elementor-element.elementor-element-5317f25
  .elementor-button:hover,
.elementor-20
  .elementor-element.elementor-element-5317f25
  .elementor-button:focus {
  color: #ffffff;
}
.elementor-20
  .elementor-element.elementor-element-5317f25
  .elementor-button:hover
  svg,
.elementor-20
  .elementor-element.elementor-element-5317f25
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-20
  .elementor-element.elementor-element-5317f25
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-20 .elementor-element.elementor-element-226dd90 {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: var(--e-global-color-416b0f4);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 20px 20px 20px;
}
.elementor-20 .elementor-element.elementor-element-226dd90,
.elementor-20
  .elementor-element.elementor-element-226dd90
  > .elementor-background-overlay {
  border-radius: 5px 5px 5px 5px;
}
.elementor-20
  .elementor-element.elementor-element-226dd90
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-20
  .elementor-element.elementor-element-262937a
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-20
  .elementor-element.elementor-element-262937a
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-20
  .elementor-element.elementor-element-f3e8ede
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-20
  .elementor-element.elementor-element-f3e8ede.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-accent);
}
.elementor-20
  .elementor-element.elementor-element-f3e8ede.elementor-view-framed
  .elementor-icon,
.elementor-20
  .elementor-element.elementor-element-f3e8ede.elementor-view-default
  .elementor-icon {
  color: var(--e-global-color-accent);
  border-color: var(--e-global-color-accent);
}
.elementor-20
  .elementor-element.elementor-element-f3e8ede.elementor-view-framed
  .elementor-icon,
.elementor-20
  .elementor-element.elementor-element-f3e8ede.elementor-view-default
  .elementor-icon
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-20 .elementor-element.elementor-element-f3e8ede .elementor-icon {
  font-size: 40px;
}
.elementor-20 .elementor-element.elementor-element-f3e8ede .elementor-icon i,
.elementor-20 .elementor-element.elementor-element-f3e8ede .elementor-icon svg {
  transform: rotate(0deg);
}
.elementor-20
  .elementor-element.elementor-element-665ebf6
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-20
  .elementor-element.elementor-element-665ebf6
  > .elementor-element-populated {
  margin: 0px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 0px 0px 0px 0px;
}
.elementor-20
  .elementor-element.elementor-element-55cc938
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor8);
}
.elementor-20
  .elementor-element.elementor-element-55cc938
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-20 .elementor-element.elementor-element-fbad2d9 {
  font-family: "Arial", Arial;
  font-weight: 400;
}
.elementor-20
  .elementor-element.elementor-element-fbad2d9
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-20 .elementor-element.elementor-element-9a5a186 .elementor-button {
  font-family: "Verdana", Arial;
  background-color: #9454c9;
  border-radius: 10px 10px 10px 10px;
}
.elementor-20
  .elementor-element.elementor-element-9a5a186
  .elementor-button:hover,
.elementor-20
  .elementor-element.elementor-element-9a5a186
  .elementor-button:focus {
  color: #ffffff;
}
.elementor-20
  .elementor-element.elementor-element-9a5a186
  .elementor-button:hover
  svg,
.elementor-20
  .elementor-element.elementor-element-9a5a186
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-20
  .elementor-element.elementor-element-9a5a186
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
:root {
  --page-title-display: none;
}
@media (min-width: 768px) {
  .elementor-20 .elementor-element.elementor-element-95123c1 {
    width: 14.364%;
  }
  .elementor-20 .elementor-element.elementor-element-a18ed1c {
    width: 85.636%;
  }
  .elementor-20 .elementor-element.elementor-element-262937a {
    width: 14.364%;
  }
  .elementor-20 .elementor-element.elementor-element-665ebf6 {
    width: 85.636%;
  }
}
@media (max-width: 1024px) {
  .elementor-20 .elementor-element.elementor-element-76d0d1f8 .swiper-slide {
    height: 264px;
  }
  .elementor-20
    .elementor-element.elementor-element-76d0d1f8
    .swiper-slide-contents {
    max-width: 100%;
  }
  .elementor-20
    .elementor-element.elementor-element-76d0d1f8
    .swiper-slide-inner {
    padding: 250px 0px 0px 30px;
  }
  .elementor-20
    .elementor-element.elementor-element-76d0d1f8
    .elementor-slide-heading {
    font-size: 25px;
  }
  .elementor-20
    .elementor-element.elementor-element-76d0d1f8
    .elementor-slide-description {
    font-size: 14px;
  }
  .elementor-20 .elementor-element.elementor-element-466096a0 .swiper-slide {
    height: 240px;
  }
  .elementor-20
    .elementor-element.elementor-element-466096a0
    .swiper-slide-contents {
    max-width: 35%;
  }
  .elementor-20
    .elementor-element.elementor-element-466096a0
    .swiper-slide-inner {
    padding: 25px 0px 0px 0px;
  }
  .elementor-20
    .elementor-element.elementor-element-466096a0
    .elementor-slide-heading {
    font-size: 20px;
  }
  .elementor-20
    .elementor-element.elementor-element-466096a0
    .elementor-slide-description {
    font-size: 12px;
  }
  .elementor-20
    .elementor-element.elementor-element-466096a0
    .elementor-slide-button {
    font-size: 12px;
  }
  .elementor-20 .elementor-element.elementor-element-c54f08e {
    padding: 0px 5px 0px 5px;
  }
  .elementor-20 .elementor-element.elementor-element-e66553c {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 10px 10px 10px;
  }
  .elementor-20 .elementor-element.elementor-element-e42508d .elementor-icon {
    font-size: 30px;
  }
  .elementor-20
    .elementor-element.elementor-element-e42508d
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-20
    .elementor-element.elementor-element-a18ed1c
    > .elementor-element-populated {
    margin: 0px 5px 0px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-20
    .elementor-element.elementor-element-d62494f
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-20 .elementor-element.elementor-element-89fa2d9 {
    font-size: 12px;
  }
  .elementor-20
    .elementor-element.elementor-element-89fa2d9
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-20
    .elementor-element.elementor-element-5317f25
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-20
    .elementor-element.elementor-element-799c8a8
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 10px 10px 10px 10px;
  }
  .elementor-20 .elementor-element.elementor-element-226dd90 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 10px 10px 10px;
  }
  .elementor-20 .elementor-element.elementor-element-f3e8ede .elementor-icon {
    font-size: 30px;
  }
  .elementor-20 .elementor-element.elementor-element-fbad2d9 {
    font-size: 12px;
  }
  .elementor-20
    .elementor-element.elementor-element-9a5a186
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-20 .elementor-element.elementor-element-23d10f81 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-20 .elementor-element.elementor-element-466096a0 .swiper-slide {
    height: 480px;
  }
  .elementor-20
    .elementor-element.elementor-element-466096a0
    .swiper-slide-contents {
    max-width: 100%;
  }
  .elementor-20
    .elementor-element.elementor-element-466096a0
    .swiper-slide-inner {
    padding: 0px 0px 30px 40px;
  }
  .elementor-20
    .elementor-element.elementor-element-466096a0
    .elementor-slide-heading {
    font-size: 18px;
    line-height: 0em;
  }
  .elementor-20
    .elementor-element.elementor-element-466096a0
    .elementor-slide-description {
    font-size: 15px;
    line-height: 0.8em;
  }
  .elementor-20
    .elementor-element.elementor-element-466096a0
    .elementor-slide-button {
    font-size: 12px;
  }
  .elementor-20
    .elementor-element.elementor-element-466096a0
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-20
    .elementor-element.elementor-element-589610ee
    .elementor-divider-separator {
    width: 50%;
  }
  .elementor-20
    .elementor-element.elementor-element-4b8b064c
    > .elementor-widget-container {
    margin: 0px 20px 0px 20px;
  }
  .elementor-20 .elementor-element.elementor-element-c54f08e {
    padding: 0px 0px 0px 0px;
  }
  .elementor-20 .elementor-element.elementor-element-e66553c,
  .elementor-20
    .elementor-element.elementor-element-e66553c
    > .elementor-background-overlay {
    border-radius: 20px 20px 20px 20px;
  }
  .elementor-20 .elementor-element.elementor-element-e66553c {
    padding: 10px 10px 10px 10px;
  }
  .elementor-20 .elementor-element.elementor-element-95123c1 {
    width: 20%;
  }
  .elementor-20
    .elementor-element.elementor-element-95123c1
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-20 .elementor-element.elementor-element-e42508d .elementor-icon {
    font-size: 30px;
  }
  .elementor-20 .elementor-element.elementor-element-a18ed1c {
    width: 80%;
  }
  .elementor-20
    .elementor-element.elementor-element-a18ed1c
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-20 .elementor-element.elementor-element-89fa2d9 {
    font-size: 11px;
  }
  .elementor-20
    .elementor-element.elementor-element-5317f25
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-20 .elementor-element.elementor-element-226dd90,
  .elementor-20
    .elementor-element.elementor-element-226dd90
    > .elementor-background-overlay {
    border-radius: 20px 20px 20px 20px;
  }
  .elementor-20 .elementor-element.elementor-element-226dd90 {
    padding: 10px 10px 10px 10px;
  }
  .elementor-20 .elementor-element.elementor-element-262937a {
    width: 20%;
  }
  .elementor-20
    .elementor-element.elementor-element-262937a
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-20 .elementor-element.elementor-element-f3e8ede .elementor-icon {
    font-size: 30px;
  }
  .elementor-20 .elementor-element.elementor-element-665ebf6 {
    width: 80%;
  }
  .elementor-20
    .elementor-element.elementor-element-665ebf6
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-20 .elementor-element.elementor-element-fbad2d9 {
    font-size: 11px;
  }
  .elementor-20
    .elementor-element.elementor-element-9a5a186
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}
